doctype html
html(lang="en")
	head
		title= titlle
		script(src='./js/jquery.js')
		link(rel='stylesheet', href='./css/bootstrap.css')
			
	body
		h1 DEMO
		#content
		
		
		script(src='./js/index.js')
